<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/them-muc}" method="post">
    <select name="phan" id="phan_id" class="form-control" th:field="${NewMuc.tcChuong.tcPhan.id}">
        <option value="">Chọn Phần</option>
        <option th:each="phan : ${phans}" th:value="${phan.id}" th:text="${phan.noidung}"></option>
    </select>
    <select name="phan" id="chuong_id" class="form-control" th:field="${NewMuc.tcChuong.id}">
        <option value="">Chọn Chương</option>
        <option th:each="chuong : ${chuongs}" th:value="${chuong.id}" th:text="${chuong.noidung}"></option>
    </select>
    <label for="name">Tên mục:</label><br>
    <input type="text" id="name" name="name" th:field="${NewMuc.noidung}"><br>
    <input type="submit" value="Gửi">
</form>
</body>


</html>