<head th:fragment="head">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Meta -->
<meta name="description" content="Admin Templates & Dashboard UI Kits">
<meta name="author" content="Bootstrap Gallery" />
<link rel="canonical" href="https://www.bootstrap.gallery/">
<meta property="og:url" content="https://www.bootstrap.gallery">
<meta property="og:title"
	content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
<meta property="og:description"
	content="Marketplace for Bootstrap Admin Dashboards">
<meta property="og:type" content="Website">
<meta property="og:site_name" content="Bootstrap Gallery">
<link rel="shortcut icon" th:href="@{/assets/img/favicon.svg}" />

<!-- Title -->
<title>Bootstrap Admin Dashboard - Dashboard</title>


<!-- *************
			************ Common Css Files *************
		************ -->
<!-- Bootstrap css -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

<!-- Icomoon Font Icons css -->
<link rel="stylesheet" th:href="@{/assets/fonts/style.css}">

<!-- Main css -->
<link rel="stylesheet" th:href="@{/assets/css/main.min.css}">


<!-- *************
			************ Vendor Css Files *************
		************ -->
<!-- DateRange css -->

<link rel="stylesheet"
	th:href="@{/assets/vendor/daterange/daterange.css}" />
<!-- Circliful CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/circliful/circliful.css}" />

<!-- Chartist css -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist-custom.css}" />
<!-- Data Tables -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/datatables/dataTables.bs4.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/datatables/dataTables.bs4-custom.css}" />
<link th:href="@{/assets/vendor/datatables/buttons.bs.css}"
	rel="stylesheet" />
<!-- Datepicker css -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/datepicker/css/classic.css}" />
<link rel="stylesheet"
	th:href="@{/assets/vendor/datepicker/css/classic.date.css}" />

</head>