
            <form  th:fragment="modalEditUserprofileFragment" th:action="@{/userprofile/editStaffDetails}" th:method="POST" th:object="${nhanvien}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}" th:value="${nhanvien.id}"/>
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="col-sm-6 col-12">
                            <!-- Other form fields for NhanVien properties -->

                            <div class="form-group">
                                <label for="fullName">Họ và Tên</label>
                                <input type="text" class="form-control" id="fullName" th:field="*{tennv}"  th:value="${nhanvien.tennv}" placeholder="Enter full name">
                            </div>
                            <div class="form-group">
                                <label for="gender">Giới tính</label>
                                <select class="form-control" id="gender" th:field="*{gioitinh}" >
                                    <option value="NAM">NAM</option>
                                    <option value="NU">NU</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="address">Quê Quán</label>
                                <input type="text" class="form-control" id="address" th:field="*{quequan}"   th:value="${nhanvien.quequan}" placeholder="Enter Address">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" th:field="*{SDT}"   th:value="${nhanvien.SDT}" placeholder="Enter phone number">
                            </div>
                            <div class="form-group">
                                <label for="machucvu">Mã Chức Vụ</label>
                                <input type="text" class="form-control" id="machucvu" th:field="*{machucvu}"   th:value="${nhanvien.machucvu}" >
                            </div>
                            <div class="form-group">
                                <label for="tencv">Tên Chức Vụ</label>
                                <input type="text" class="form-control" id="tencv" th:field="*{tencv}"   th:value="${nhanvien.tencv}" >
                            </div>
                            <div class="form-group">
                                <label for="identification">Căn Cước Công Dân</label>
                                <input type="text" class="form-control" id="identification" th:field="*{CCCD}" th:value="${nhanvien.CCCD}"  placeholder="Enter identification number">
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="department">Phòng Ban</label>
                                <select class="form-control" id="department" th:field="*{phongBan.id}">
                                    <option th:each="department : ${phongban}" th:value="${department.id}" th:text="${department.tenpb}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <input type="text" class="form-control datepicker-set-years" id="dob" th:field="*{ngaysinh}" th:value="${nhanvien.ngaysinh}"  placeholder="Choose Date of Birth">
                            </div>
                            <div class="form-group">
                                <label for="avatar">Upload Avatar</label>
                                <input type="file" class="form-control-file" id="avatar" th:field="*{avatarUserFileName}">
                            </div>
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input type="text" class="form-control" id="userName" th:field="*{username}"  th:value="${nhanvien.username}" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-delete" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-detail">Save</button>
                </div>
            </form>

