<div th:fragment="script">
	<!--**************************
			**************************
				**************************
							Required JavaScript Files
				**************************
			**************************
		**************************-->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/moment.js}"></script>


	<!-- *************
			************ @{/assets/vendor Js Files *************
		************* -->
	<!-- Slimscroll JS -->
	<script th:src="@{/assets/vendor/slimscroll/slimscroll.min.js}"></script>
	<script th:src="@{/assets/vendor/slimscroll/custom-scrollbar.js}"></script>

	<!-- Daterange -->
	<script th:src="@{/assets/vendor/daterange/daterange.js}"></script>
	<script th:src="@{/assets/vendor/daterange/custom-daterange.js}"></script>

	<!-- Chartist JS -->
	<script th:src="@{/assets/vendor/chartist/js/chartist.min.js}"></script>
	<script th:src="@{/assets/vendor/chartist/js/chartist-tooltip.js}"></script>
	<script th:src="@{/assets/vendor/chartist/js/custom/threshold/threshold.js}"></script>
	<script th:src="@{/assets/vendor/chartist/js/custom/bar/bar-chart-orders.js}"></script>

	<!-- jVector Maps -->
	<script th:src="@{/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js}"></script>
	<script th:src="@{/assets/vendor/jvectormap/world-mill-en.js}"></script>
	<script th:src="@{/assets/vendor/jvectormap/gdp-data.js}"></script>
	<script th:src="@{/assets/vendor/jvectormap/custom/world-map-markers2.js}"></script>

	<!-- Rating JS -->
	<script th:src="@{/assets/vendor/rating/raty.js}"></script>
	<script th:src="@{/assets/vendor/rating/raty-custom.js}"></script>
	<script th:src="@{/assets/vendor/circliful/circliful.min.js}"></script>
	<script th:src="@{/assets/vendor/circliful/circliful.custom.js}"></script>

	<!-- Apex Charts -->
	<script th:src="@{/assets/vendor/apex/apexcharts.min.js}"></script>
	<script th:src="@{/assets/vendor/apex/project-dashboard/timeline.js}"></script>
	<script th:src="@{/assets/vendor/apex/project-dashboard/avg-handle-time.js}"></script>
	<script th:src="@{/assets/vendor/apex/project-dashboard/budget.js}"></script>
	<script th:src="@{/assets/vendor/apex/project-dashboard/tasks-assigned.js}"></script>

	<script th:src="@{/assets/vendor/apex/quick-dashboard/tasks.js}"></script>
	<script th:src="@{/assets/vendor/apex/quick-dashboard/compare-sales.js}"></script>
	<script th:src="@{/assets/vendor/apex/quick-dashboard/compare-sales1.js}"></script>

	<script th:src="@{/assets/vendor/jqcloud/jqcloud-1.0.4.min.js}"></script>
	<script th:src="@{/assets/vendor/jqcloud/custom-jqcloud.js}"></script>
	<script th:src="@{/assets/vendor/apex/helpdesk-dashboard/tickets.js}"></script>
	<script th:src="@{/assets/vendor/apex/helpdesk-dashboard/support-requests.js}"></script>
	<script th:src="@{/assets/vendor/apex/helpdesk-dashboard/complaints.js}"></script>
	<script th:src="@{/assets/vendor/apex/helpdesk-dashboard/traffic-analysis.js}"></script>
	<script th:src="@{/assets/vendor/apex/helpdesk-dashboard/cost-per-support.js}"></script>
	<script th:src="@{/assets/vendor/apex/examples/radial/basic-radial-graph2.js}"></script>
	<!-- jVector Maps -->
	<script th:src="@{/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js}"></script>
	<script th:src="@{/assets/vendor/jvectormap/gdp-data.js}"></script>
	<script th:src="@{/assets/vendor/jvectormap/africa-mill.js}"></script>
	<!-- Data Tables -->
	<script th:src="@{/assets/vendor/datatables/dataTables.min.js}"></script>
	<script th:src="@{/assets/vendor/datatables/dataTables.bootstrap.min.js}"></script>

	<!-- Custom Data tables -->
	<script th:src="@{/assets/vendor/datatables/custom/custom-datatables.js}"></script>
	<script th:src="@{/assets/vendor/datatables/custom/fixedHeader.js}"></script>

	<!-- Custom JVector Maps -->
	<script th:src="@{/assets/vendor/jvectormap/custom/map-africa1.js}"></script>
	<!-- Download / CSV / Copy / Print -->
	<script th:src="@{/assets/vendor/datatables/buttons.min.js}"></script>
	<script th:src="@{/assets/vendor/datatables/jszip.min.js}"></script>
	<script th:src="@{/assets/vendor/datatables/pdfmake.min.js}"></script>
	<script th:src="@{/assets/vendor/datatables/vfs_fonts.js}"></script>
	<script th:src="@{/assets/vendor/datatables/html5.min.js}"></script>
	<script th:src="@{/assets/vendor/datatables/buttons.print.min.js}"></script>
	<!-- Datepickers -->
	<script th:src="@{/assets/vendor/datepicker/js/picker.js}"></script>
	<script th:src="@{/assets/vendor/datepicker/js/picker.date.js}"></script>
	<script th:src="@{/assets/vendor/datepicker/js/custom-picker.js}"></script>


	<!-- Main JS -->
	<script th:src="@{/assets/js/main.js}"></script>
	
</div>